extends layout

block content

  h3= title
  form#form_add_task(name="addtask", method="post", action="/addtask")
    span Task Name
    span &nbsp;
    input#input_name(type="text", placeholder="task", name="task")
    br
    br
    span Priority
    span &nbsp;
    input#input_priority(type="number", placeholder="priority",value=0, name="priority")
    br
    br
    span Hours
    span &nbsp;
    input#input_hours(type="number", placeholder="hours",value=0, name="hours")
    br
    br
    span Minutes
    span &nbsp;
    input#input_minutes(type="number", placeholder="minutes", value=0, name="minutes")
    br
    br
    span Due Date
    span &nbsp;
    input#input_duedate(type="date", placeholder="MM/DD/YYYY", name="duedate")
    br
    br
    button#submit_task(type="submit") submit
    
  form#form_add_task(name="addtask", method="get", action="/thelist")
    button#submit_task(type="submit") Go Back
